{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	scroll-behavior: smooth;/*al dar click en
	 el menu nos direcciona a la parte correspondiente
	  galeria, contacto. etc*/
}

body{
	font-family: 'Open Sans', sans-serif;
}

.contenedor{
	width: 90%;
	max-width: 1200 px;
	overflow: hidden; /*--todo lo que se desvorde se oculte-->*/
	margin: auto;/*para centrar*/
	padding: 60 px 0;
}

header{
	height: 100vh;/*es el 100 % de lo que ocupa la pantalla*/
	/*background-image: linear-gradient(to top, rgb(161, 140, 209,0.5) 0%, rgb(251, 194, 235,0.5) 100%), url(../img/robot.jpg);*/
	
	background-image: linear-gradient(to top, rgba(216, 203, 27, 0.911) 0%, rgba(83, 82, 83, 0.5) 100%), url(../img/peque1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.head{
	text-align: center;
	padding: 0;/*frase principal*/
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;/*texto alineado al centro*/
	flex-direction: column;/*texto separado en lineas*/
	color: white;
}
.nommenu{
	position: fixed;
	top: 20px;
	right: 180px;
	width: 10px;
	height: 20px;
	cursor: pointer;
	color: rgb(224, 189, 31);
}

.menu{/*posiciona icono menu fijo y redondeado*/
	position: fixed;
	
	top: 30px;
	right: 30px;
	background: white;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 0 6px rgba(255, 119, 255, 0.5);/*redndea borde de icono menu*/
}

.menu-navegacion{
	position: fixed;
	top: 0;
	right: 0;
	width: 20vw;
	height: 100%;
	background-image:linear-gradient(135deg, #7373a8 0%, #d3d153 100%); 
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	/*transition: transform .3s ease-in-out;*/
	transform: translate(110%);
	box-shadow: 0 0 6pv rgba(0, 0, 0, .5);
}

.spread{
	transform: translate(0);/*cuando se de click en el boton menu este aparecera*/
}

.menu-navegacion a{
	color: white;
	text-decoration: none;
}

.titulo{
	font-size: 60px;
	margin-bottom: 15px;

}

.copy{
	font-weight: 300;
	font-size: 25px;

}

/*Nuestro servicio*/

.subtitulo{
	text-align: center;
	font-weight: 300;
	color: #9f8ad0;
	margin-bottom: 40px;
	font-size: 40px;
}

.contenedor-servicio{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.contenedor-servicio img{
	width: 40%;
}

.checklist-servicio{
	width: 40%;
}

.n-service{
	margin-bottom: 7px;
	color: 9f8ad0;

}

.number{/*hacer circulos de numeros en servicio*/
	display: inline-block;
	background-image:  linear-gradient(to top, rgb(161, 140, 209,0.5) 0%, rgb(251, 194, 235,0.5) 100%);
	width: 30px;
	height: 30px;
	color: white;
	text-align: center;
	border-radius: 50%;
	font-weight: 700;
	line-height: 30px;
}

.gallery{
	background: #f2f2f2;
}

.contenedor-galeria{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.img-galeria{
	object-fit: cover;
	width: 30%;
	display: block;
	margin-bottom: 15px;
	box-shadow: 0 0 6px rgba(0, 0, 0, .5);
	cursor: pointer;
}

.imagen-light{
	position: fixed;
	background: rgba(0, 0, 0, .6);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translate(100%);
	transition: transform .2s ease-in-out ;
}

.show{
   transform: translate(0);
}

.agregar-imagen{
	object-fit: cover;
	width: 60%;
	border-radius: 10px;
	transform: scale(0);
	transition: transform .3s .2s;
}

.showImage{/*esta clase se agregara cuando se de click a la imagen*/
	transform: scale(1);
}

.close{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 40px;
	cursor: pointer;
}

.experts{
	display: flex;/*para que se pongam uno al lado del otro*/
	justify-content: space-evenly;/*para tener espacio entre los elementos*/
	align-items: center;
	flex-wrap: wrap;/*si un elemento no cabe en la linea lo manda hacia abajo*/

}

.cont-expert{
	width: 30%;
	text-align: center;
	margin-bottom: 20px;
}

.cont-expert img{
	width: 80%;
	display: block;
	margin: auto;
}

.n-expert{
	display: inline-block;
	margin-top: 20px;
	width: 100%;
	font-weight: 400;
}

/*seccion FOOTER--------------------------*/

footer{
	background: #9f8ad0;
	padding-bottom: 0.1px;
}

.footer-content{
	display: flex;
	justify-content: space-between;/*elementos uno al lado de otro pero en las ezquinaas*/
	align-items: center ;
	flex-wrap: wrap;/*si un elemento ya no cabe se desplaza hacia abajo*/
	padding-top: 60px;
	padding-bottom: 40px;
}

.contact-us{
	width: 40%;
	color: #fff;
}

.brand{
	font-weight: 500;
	font-size: 40px;
}

.brand+p{
	font-weight: 500;
}

.social-media{
	width: 30%;
	display: flex;
}

.social-media-icon{
	display: inline-block;
	margin-left: 20px;
	width: 60px;
	height: 60px;
	border: 1px solid #fff;
	border-radius: 50%;
	text-align: center;
	color: #fff;
}

.social-media-icon:hover{
	background: #fff;
	color: #764ba2;
}

.social-media-icon i{
	font-size: 30px;
	line-height: 60px;
}

.line{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	height: 2px;
	background: #fff;
	margin-bottom: 60px;
}


@media screen and (max-width:800px){
    .menu-navegacion{
		width: 50vw;
	}

	.titulo{
		font-size: 40px;
	}


	.contenedor-servicio img{
		width: 80%;
		margin-bottom: 40px;
	}

	.checklist-servicio{
		width:80% ;
	}

     .service{
		 margin-bottom: 30px;
	 }

	 .agregar-imagen{
		 width: 80%;
	 }

	 .img-galeria{
		 width: 45%;
	 }

	 .cont-expert{
		 width: 80%;
	 }

	 .footer-content{
		 justify-content: center;
	 }

	 .social-media{
		 width: 80% ;
		 justify-content: space-evenly;
	 }

	 .social-media-icon{
		 margin-left: 0;
	 }

	 .social-media i{
		 margin-left: 0;
	 }

	 .contact-us{
		 text-align: center;
		 width: 80%;
		 margin-bottom: 40px;
	 }
}

@media screen and (max-width:500px){
    .menu-navegacion{
		width: 65vw;
	}

    .menu{
		top: 20px;
		right: 20px;
	}

	.titulo{
		font-size: 30px;
	}

	.subtitulo{
        font-size: 30px;
	}


	.agregar-imagen{
		width: 95%;
	}

	.img-galeria{
		width: 95%;
	}

	.social-media{
		width: 100%;
	}

	.contact-us{
		width: 90%;
	}
}













